In [60]:
import pandas as pd
import numpy as np

In [61]:
tt = pd.read_csv('../Data/commute_tt_results_v2.csv')
tt.head()

,geoid,ctlabel,boro_code,boro_name,ct2010,boro_ct2010,cdeligibil,ntacode,ntaname,puma,...,CBD13,CBD14,CBD15,CBD16,CBD17,CBD18,CBD19,CBD20,CBD21,CBD22
0,36061009800,98.0,1,Manhattan,9800,1009800,I,MN19,Turtle Bay-East Midtown,3808,...,21.0,28.0,22.0,23.0,27.0,25.0,15.0,19.0,13.0,38.0
1,36061010200,102.0,1,Manhattan,10200,1010200,I,MN17,Midtown-Midtown South,3807,...,24.0,23.0,19.0,20.0,27.0,22.0,22.0,19.0,17.0,38.0
2,36061010400,104.0,1,Manhattan,10400,1010400,I,MN17,Midtown-Midtown South,3807,...,23.0,29.0,17.0,21.0,28.0,22.0,27.0,22.0,17.0,39.0
3,36061011300,113.0,1,Manhattan,11300,1011300,I,MN17,Midtown-Midtown South,3807,...,16.0,19.0,11.0,15.0,18.0,19.0,18.0,21.0,16.0,43.0
4,36061013000,130.0,1,Manhattan,13000,1013000,I,MN40,Upper East Side-Carnegie Hill,3805,...,28.0,31.0,32.0,32.0,36.0,36.0,11.0,17.0,6.0,51.0

In [62]:
# # #column for mean 
# tt['mean_to_cbd'] = tt.iloc[:, -22:].mean(axis=1)

In [63]:
# # #travel time to the closest cbd
# tt['closest_cbd'] = tt.iloc[:, -22:].min(axis=1)

In [64]:
#load cbd data 
cbd = pd.read_csv('../Data/NTA_CBD_final.csv')
cbd

,Unnamed: 0,ntacode,c000,area_km2,%_cbd_jobs,borocode,boroname,countyfips,ntaname,shape_area,shape_leng,geometry,Center_Lat,Center_Lon,jobs_km2
0,0,BK09,13119.0,0.161585,0.005953,3.0,Brooklyn,47,Brooklyn Heights-Cobble Hill,9.984670e+06,14253.675375,"POLYGON ((-73.99236367043254 40.689690123777, ...",40.695469,-73.994871,81189.237281
1,1,BK38,90452.0,0.336149,0.041043,3.0,Brooklyn,47,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,2.846257e+07,32363.990305,POLYGON ((-73.97905767012286 40.70595288910062...,40.692921,-73.985990,269083.057942
2,2,BK68,9567.0,0.164809,0.004341,3.0,Brooklyn,47,Fort Greene,1.648290e+07,19828.474410,POLYGON ((-73.96939450111498 40.69608038942066...,40.690795,-73.974881,58048.886737
3,3,BK73,9870.0,0.194892,0.004479,3.0,Brooklyn,47,North Side-South Side,2.886841e+07,28145.428770,POLYGON ((-73.95814292441031 40.72440428440242...,40.714916,-73.958625,50643.372409
4,4,BX43,15124.0,0.248715,0.006863,2.0,Bronx,5,Norwood,1.570888e+07,22148.645113,"POLYGON ((-73.8830938237215 40.86660218502373,...",40.877138,-73.879022,60808.524894
5,5,MN09,31654.0,0.178083,0.014363,1.0,Manhattan,61,Morningside Heights,2.015832e+07,20744.313555,POLYGON ((-73.95210125149229 40.81144285350128...,40.807886,-73.962543,177749.060872
6,6,MN13,205454.0,1.554135,0.093225,1.0,Manhattan,61,Hudson Yards-Chelsea-Flatiron-Union Square,3.702973e+07,45454.722802,"POLYGON ((-74.00153309066991 40.7626445986302,...",40.747581,-73.999009,132198.259557
7,7,MN14,25866.0,0.350484,0.011737,1.0,Manhattan,61,Lincoln Square,1.580567e+07,19866.053195,POLYGON ((-73.97499744020551 40.77753254622205...,40.774847,-73.984699,73800.855164
8,8,MN15,41089.0,0.527848,0.018644,1.0,Manhattan,61,Clinton,1.838138e+07,35037.171580,"POLYGON ((-73.9938310813699 40.77293178785064,...",40.764175,-73.992397,77842.552727
9,9,MN17,794888.0,2.804878,0.360682,1.0,Manhattan,61,Midtown-Midtown South,3.019206e+07,27035.738130,POLYGON ((-73.97301487242227 40.76427887944538...,40.755733,-73.983503,283394.821528
10,10,MN19,183391.0,1.165173,0.083214,1.0,Manhattan,61,Turtle Bay-East Midtown,1.739787e+07,21638.781206,MULTIPOLYGON (((-73.96124698011525 40.74042359...,40.754307,-73.969018,157393.854483
11,11,MN20,132214.0,0.813655,0.059992,1.0,Manhattan,61,Murray Hill-Kips Bay,1.446585e+07,23134.268048,MULTIPOLYGON (((-73.96230391870563 40.73311366...,40.744211,-73.977500,162493.871540
12,12,MN21,29070.0,0.341109,0.013191,1.0,Manhattan,61,Gramercy,7.531455e+06,12091.587932,POLYGON ((-73.97849845639811 40.73679095652548...,40.736824,-73.984051,85222.116780
13,13,MN22,6247.0,0.086439,0.002835,1.0,Manhattan,61,East Village,1.089549e+07,13539.197632,POLYGON ((-73.98255629297823 40.73135013405204...,40.727620,-73.985938,72270.834138
14,14,MN23,56353.0,0.744786,0.025570,1.0,Manhattan,61,West Village,2.500053e+07,29385.030625,POLYGON ((-73.98990295970057 40.73443479013692...,40.733055,-74.001562,75663.323807
15,15,MN24,198999.0,2.325628,0.090296,1.0,Manhattan,61,SoHo-TriBeCa-Civic Center-Little Italy,2.485957e+07,24284.700443,POLYGON ((-73.99260322198447 40.72413644968342...,40.720767,-74.004678,85567.855776
16,16,MN25,238765.0,1.549032,0.108340,1.0,Manhattan,61,Battery Park City-Lower Manhattan,1.905626e+07,45700.005462,MULTIPOLYGON (((-74.00078295275682 40.69428651...,40.708002,-74.010235,154138.228213
17,17,MN27,21575.0,0.279730,0.009790,1.0,Manhattan,61,Chinatown,1.450195e+07,20788.888972,POLYGON ((-73.98382387298197 40.72147287206694...,40.715607,-73.994630,77127.903206
18,18,MN31,40212.0,0.368367,0.018246,1.0,Manhattan,61,Lenox Hill-Roosevelt Island,2.150156e+07,37708.444332,MULTIPOLYGON (((-73.94180032729433 40.76904692...,40.764965,-73.955091,109162.999455
19,19,MN33,24574.0,0.199925,0.011151,1.0,Manhattan,61,East Harlem South,1.665074e+07,18625.042699,POLYGON ((-73.93505300005583 40.79168720290905...,40.790011,-73.945751,122915.908020
20,20,MN40,20057.0,0.197350,0.009101,1.0,Manhattan,61,Upper East Side-Carnegie Hill,2.006533e+07,23778.406402,POLYGON ((-73.94933170560962 40.78519312655764...,40.774729,-73.961175,101631.872882
21,21,QN22,15307.0,0.304418,0.006946,4.0,Queens,81,Flushing,3.786484e+07,38363.970007,POLYGON ((-73.82331286855246 40.77957865983406...,40.761092,-73.828865,50282.788698

In [65]:
#cbd1*%jobcbd1+

In [66]:
weight = pd.DataFrame()
for i in range(22):
    weight['w_tt_{}'.format(i+1)] = (tt.loc[:, 'CBD{}'.format(i+1)]*cbd['%_cbd_jobs'][i])

tt['w_tt'] = weight.sum(axis=1)
tt

,geoid,ctlabel,boro_code,boro_name,ct2010,boro_ct2010,cdeligibil,ntacode,ntaname,puma,...,CBD14,CBD15,CBD16,CBD17,CBD18,CBD19,CBD20,CBD21,CBD22,w_tt
0,36061009800,98.0,1,Manhattan,9800,1009800,I,MN19,Turtle Bay-East Midtown,3808,...,28.0,22.0,23.0,27.0,25.0,15.0,19.0,13.0,38.0,18.237742
1,36061010200,102.0,1,Manhattan,10200,1010200,I,MN17,Midtown-Midtown South,3807,...,23.0,19.0,20.0,27.0,22.0,22.0,19.0,17.0,38.0,16.932766
2,36061010400,104.0,1,Manhattan,10400,1010400,I,MN17,Midtown-Midtown South,3807,...,29.0,17.0,21.0,28.0,22.0,27.0,22.0,17.0,39.0,18.211283
3,36061011300,113.0,1,Manhattan,11300,1011300,I,MN17,Midtown-Midtown South,3807,...,19.0,11.0,15.0,18.0,19.0,18.0,21.0,16.0,43.0,13.227767
4,36061013000,130.0,1,Manhattan,13000,1013000,I,MN40,Upper East Side-Carnegie Hill,3805,...,31.0,32.0,32.0,36.0,36.0,11.0,17.0,6.0,51.0,28.875500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,36005007300,73.0,2,Bronx,7300,2007300,E,BX34,Melrose South-Mott Haven North,3710,...,50.0,40.0,47.0,48.0,51.0,44.0,25.0,30.0,71.0,42.219822
2037,36005005100,51.0,2,Bronx,5100,2005100,I,BX39,Mott Haven-Port Morris,3710,...,38.0,37.0,43.0,40.0,49.0,36.0,17.0,23.0,59.0,35.321976
2038,36005006300,63.0,2,Bronx,6300,2006300,I,BX63,West Concourse,3708,...,49.0,38.0,39.0,51.0,43.0,46.0,29.0,32.0,67.0,38.375984
2039,36081001900,19.0,4,Queens,1900,4001900,I,QN31,Hunters Point-Sunnyside-West Maspeth,4109,...,28.0,25.0,26.0,32.0,28.0,27.0,24.0,18.0,34.0,22.492540
2040,36081017100,171.0,4,Queens,17100,4017100,I,QN31,Hunters Point-Sunnyside-West Maspeth,4109,...,45.0,36.0,39.0,46.0,41.0,40.0,36.0,30.0,37.0,35.136785

In [67]:
tt.iloc[:, -25:]

,area_km2,formatted,CBD1,CBD2,CBD3,CBD4,CBD5,CBD6,CBD7,CBD8,...,CBD14,CBD15,CBD16,CBD17,CBD18,CBD19,CBD20,CBD21,CBD22,w_tt
0,0.177075,40.75578797405885%2C-73.96777472301176,40.0,33.0,45.0,28.0,57.0,31.0,19.0,28.0,...,28.0,22.0,23.0,27.0,25.0,15.0,19.0,13.0,38.0,18.237742
1,0.172893,40.759423723208%2C-73.9744493813563,37.0,30.0,42.0,26.0,54.0,27.0,15.0,25.0,...,23.0,19.0,20.0,27.0,22.0,22.0,19.0,17.0,38.0,16.932766
2,0.173228,40.760778939480964%2C-73.97767289767248,38.0,29.0,43.0,27.0,50.0,24.0,16.0,18.0,...,29.0,17.0,21.0,28.0,22.0,27.0,22.0,17.0,39.0,18.211283
3,0.175672,40.754775073606%2C-73.98786992507925,24.0,28.0,29.0,20.0,51.0,18.0,12.0,10.0,...,19.0,11.0,15.0,18.0,19.0,18.0,21.0,16.0,43.0,13.227767
4,0.178202,40.772735996496955%2C-73.96473354620095,46.0,41.0,46.0,37.0,53.0,37.0,32.0,17.0,...,31.0,32.0,32.0,36.0,36.0,11.0,17.0,6.0,51.0,28.875500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,0.140062,40.814674574259094%2C-73.90938831207234,54.0,54.0,64.0,53.0,50.0,36.0,45.0,32.0,...,50.0,40.0,47.0,48.0,51.0,44.0,25.0,30.0,71.0,42.219822
2037,0.511666,40.813192247604434%2C-73.92758489210354,51.0,46.0,55.0,40.0,40.0,38.0,37.0,31.0,...,38.0,37.0,43.0,40.0,49.0,36.0,17.0,23.0,59.0,35.321976
2038,1.058782,40.82381487581867%2C-73.92841536399114,54.0,49.0,57.0,48.0,33.0,37.0,36.0,32.0,...,49.0,38.0,39.0,51.0,43.0,46.0,29.0,32.0,67.0,38.375984
2039,0.871605,40.74855464500757%2C-73.94501085832961,43.0,35.0,32.0,31.0,60.0,33.0,22.0,29.0,...,28.0,25.0,26.0,32.0,28.0,27.0,24.0,18.0,34.0,22.492540
2040,1.243047,40.74975914839509%2C-73.92549714660441,52.0,47.0,45.0,43.0,73.0,46.0,37.0,43.0,...,45.0,36.0,39.0,46.0,41.0,40.0,36.0,30.0,37.0,35.136785

In [68]:
# #column for mean 
tt['mean_tt'] =tt.iloc[:, -23:-1].mean(axis=1)
tt['min_tt'] =tt.iloc[:, -24:-2].min(axis=1)

In [70]:
tt.iloc[:, -25:]

,CBD1,CBD2,CBD3,CBD4,CBD5,CBD6,CBD7,CBD8,CBD9,CBD10,...,CBD16,CBD17,CBD18,CBD19,CBD20,CBD21,CBD22,w_tt,mean_tt,min_tt
0,40.0,33.0,45.0,28.0,57.0,31.0,19.0,28.0,18.0,14.0,...,23.0,27.0,25.0,15.0,19.0,13.0,38.0,18.237742,25.409091,3.0
1,37.0,30.0,42.0,26.0,54.0,27.0,15.0,25.0,14.0,10.0,...,20.0,27.0,22.0,22.0,19.0,17.0,38.0,16.932766,24.545455,10.0
2,38.0,29.0,43.0,27.0,50.0,24.0,16.0,18.0,14.0,12.0,...,21.0,28.0,22.0,27.0,22.0,17.0,39.0,18.211283,25.045455,12.0
3,24.0,28.0,29.0,20.0,51.0,18.0,12.0,10.0,13.0,7.0,...,15.0,18.0,19.0,18.0,21.0,16.0,43.0,13.227767,19.863636,7.0
4,46.0,41.0,46.0,37.0,53.0,37.0,32.0,17.0,34.0,26.0,...,32.0,36.0,36.0,11.0,17.0,6.0,51.0,28.875500,31.590909,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,54.0,54.0,64.0,53.0,50.0,36.0,45.0,32.0,44.0,37.0,...,47.0,48.0,51.0,44.0,25.0,30.0,71.0,42.219822,45.818182,25.0
2037,51.0,46.0,55.0,40.0,40.0,38.0,37.0,31.0,40.0,30.0,...,43.0,40.0,49.0,36.0,17.0,23.0,59.0,35.321976,38.818182,17.0
2038,54.0,49.0,57.0,48.0,33.0,37.0,36.0,32.0,36.0,31.0,...,39.0,51.0,43.0,46.0,29.0,32.0,67.0,38.375984,42.681818,29.0
2039,43.0,35.0,32.0,31.0,60.0,33.0,22.0,29.0,21.0,17.0,...,26.0,32.0,28.0,27.0,24.0,18.0,34.0,22.492540,28.409091,14.0
2040,52.0,47.0,45.0,43.0,73.0,46.0,37.0,43.0,36.0,29.0,...,39.0,46.0,41.0,40.0,36.0,30.0,37.0,35.136785,40.909091,25.0

In [58]:
#Sanity check
# count=0
# tot=0
# for i in cbd['%_cbd_jobs']:
#     print(i,tt.iloc[0, -25:][count])
#     tot+=i*tt.iloc[0, -25:][count]
#     count+=1
# tot

0.005952772583577717 40.0
0.041042776562982816 33.0
0.004341045453699826 45.0
0.0044785323119073146 28.0
0.006862545358185028 57.0
0.014363066038613388 31.0
0.09322516490482324 19.0
0.01173674942044525 28.0
0.01864421622735153 18.0
0.3606820255671106 14.0
0.08321403436808454 3.0
0.059992367891237464 12.0
0.013190570851787806 21.0
0.0028345887895121573 28.0
0.02557028686655653 22.0
0.09029619569779572 23.0
0.1083400980195086 27.0
0.009789699557183416 25.0
0.018246275716962204 15.0
0.011150501827032457 19.0
0.009100904010124115 13.0
0.006945581975518264 38.0

In [8]:
tt.columns

Index(['geoid', 'ctlabel', 'boro_code', 'boro_name', 'ct2010', 'boro_ct2010',
       'cdeligibil', 'ntacode', 'ntaname', 'puma', 'shape_leng', 'shape_area',
       'geometry', 'Bus_Access', 'Subway_Access', 'Bus_Count', 'Subway_Count',
       'Center_Lat', 'Center_Lon', 'area_km2', 'formatted', 'CBD1', 'CBD2',
       'CBD3', 'CBD4', 'CBD5', 'CBD6', 'CBD7', 'CBD8', 'CBD9', 'CBD10',
       'CBD11', 'CBD12', 'CBD13', 'CBD14', 'CBD15', 'CBD16', 'CBD17', 'CBD18',
       'CBD19', 'CBD20', 'CBD21', 'CBD22', 'mean_to_cbd', 'closest_cbd',
       'w_tt'],
      dtype='object')

In [71]:
tt.to_csv('../Data/weighted_tt.csv')